.change{
	color: green;
	background-color: lightblue;
}
#box{
	margin : 10px;
	padding: 10px;
	border: 5px dashed black;
	width: 100px;
	height: 100px;
	background-color: lightgreen;
}
.nani{
	color: green;
	background-color: aliceblue;
}